absl-py
aiofiles
altair
aniso8601
annotated-types
anyio
asgiref
asttokens
astunparse
attrs
beautifulsoup4
blinker
cachetools
catboost
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
comm
comtypes
contourpy
cycler
debugpy
decorator
dnspython
executing
fastapi
favicon
ffmpy
filelock
Flask
flask-cors
Flask-RESTful
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-pasta
googlesearch-python
gradio
gradio_client
graphviz
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
huggingface-hub
humanfriendly
idna
imbalanced-learn
imblearn
ipykernel
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
libclang
lightgbm=
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
ml_dtypes
mpmath
namex
narwhals
nest-asyncio
numpy
onnx
onnxconverter-common
onnxruntime
opencv-contrib-python
opencv-python
opt_einsum
optree
orjson
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyparsing
pypiwin32
pyreadline3
python-dateutil
python-multipart
python-whois
pyttsx3
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-file
rich
rpds-py
ruff
safehttpx
scikit-learn
scipy
seaborn
semantic-version
sentencepiece
setuptools
shellingham
six
skl2onnx
sklearn-compat
smmap
sniffio
sounddevice
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tldextract
toml
tomlkit
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
uvicorn
watchdog
wcwidth
websockets
Werkzeug
wheel
wrapt
xgboost
flask
gunicorn
